name: Node CI environment

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        node-version: [14.x]

    outputs:
      PACKAGE_INFO_VERSION: ${{ steps.step3.outputs.PACKAGE_INFO_VERSION }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - run: |
          PACKAGE_INFO_VERSION=$(yarn info moment | grep "version:" | cut -d \' -f2)
          echo $PACKAGE_INFO_VERSION
          echo "::set-output name=PACKAGE_INFO_VERSION::$PACKAGE_INFO_VERSION"
          echo ${{ steps.step3.outputs.PACKAGE_INFO_VERSION }}

      - name: Upgrading moment
        run: yarn upgrade moment@${{ steps.step3.outputs.PACKAGE_INFO_VERSION }}
        # with:
        #   PACKAGE_INFO_VERSION: ${{ steps.vars.outputs.PACKAGE_INFO_VERSION }}

      - name: Get diff
        run: git diff --name-only --exit-code package.json

      # - name: Get diff
      #   run: |
      #       git diff --name-only --exit-code package.json | grep "moment"
      #       IS_UPDATED=$?
      #       echo "IS_UPDATED = $IS_UPDATED" && echo ::set-output name=IS_UPDATED::"$IS_UPDATED"


      # - run: echo ${{ steps.vars.outputs.IS_UPDATED }}

      